<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmid</title>
</head>
<body>
    <div id="app">
        <h1>Film: </h1>
        <ul>
            <li style="list-style-type:none" v-for="film in filmid">
                <filmi-kaart
                        v-bind:film="film"
                        v-bind:key="film.id">
                </filmi-kaart>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="text/babel">
        Vue.component('filmi-kaart', {
            props: ['film'],
            template: `<div class="kaart">
            <div class="kaardi-keha">
                <h2 class="kaardi-pealkiri">
                    {{ film.pealkiri }}
                </h2>
                <div class="kaardi-sisu">
                    <p>
                        {{ film.vanusePiirang }}
                    </p>
                </div>
            </div>
            </div>`
        });
        let app = new Vue({
            el: '#app',
            data: {
                filmid: null
            },
            mounted() {
                this.küsiAndmed();
            },
            methods: {
                küsiAndmed() {
                    axios.get('/api/v1/filmid')
                        .then(response => {
                            this.filmid = response.data;
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                }
            }
        });
    </script>
</body>
</html>