<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinokava</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div id="app" class="bg-gray flex-col">
    <div class="flex justify-center bg-gray">
        <div class="flex-col">
            <seanssi-filter
                    kategooria='Žanrid'
                    v-bind:valikud="žanrid"
            ></seanssi-filter>

            <p>Seanssi algus: {{ formatTime }}</p>
            <input type="range" min="9" max="21" v-model="app.algusAeg" @mouseup="filtreeriAlgusAeg" class="w-full">
            <input type="date" id="seanssiKuupäev" v-model="app.seanssiKuupäev" class="mt-4">
        </div>

        <ul class="flex-col space-y-4 w-7/12 br-red-700">
            <li class="grow justify-center" style="list-style-type:none" v-for="seanss in filtreeritudSeanssid">
                <seanssi-kaart
                        v-bind:seanss="seanss"
                        v-bind:key="seanss.id"
                ></seanssi-kaart>
            </li>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/kinokava.js}"></script>
</body>
</html>