<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vali istekohad</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        let seanssID = "[[${seanssID}]]";
        let kohtadeArv = [[${kohtadeArv}]];
    </script>
</head>
<body>
<div id="app" class="bg-white flex flex-col items-center justify-center h-screen">
    <div class="flex flex-col justify-center">
        <!-- <h1 class="font-xxl">Vali istekohad</h1> -->
        <div class="flex flex-row" v-for="(rida, ridaIndex) in seanss.saal" :key="ridaIndex">
            <istekoht v-for="(iste, isteIndex) in rida" :key="isteIndex"
                v-bind:rida="ridaIndex"
                v-bind:iste="isteIndex"
                v-bind:hõivatud="iste">
            </istekoht>
        </div>
        <div class="mx-auto bg-gray-400 rounded w-10/12 h-2 mt-16"></div>
        <p class="mx-auto mb-8">EKRAAN</p>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded shadow p-2">Kinnita istekohad</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/valikoht.js}"></script>
</body>
</html>
